# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
logs/
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Editor & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build files
dist/
build/
.cache/
out/

# Git ignored files
.git/
